<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Languages</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="88%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Ruby</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Web Development</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Django-rest</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Django</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Rails</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>HTML5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Sql Alchemy</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Databases</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Oracle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        </div>
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Data Science</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>sckikit learn</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>pandas</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>numpy</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
		</div>
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Agile and DevOps</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Git</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Github</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Jenkins</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>JIRA</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Crucible</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Miscellaneous</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Python unittest</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Rspec</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Unix/Linux</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>vim</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="../Resume.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Software Engineer<span class="duration"><i class="fa fa-calendar color"></i>Jun 2017 - present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Cerner Corporation</h6>
                <p>Implemented RESTful APIs for Ecosystem website that runs powershell scripts and generates reports on various servers.
                 Enhanced the website as a part of agile methodolgy for continuous integration. Worked on Python, Django, Django-rest and HTML.</p>
            </li>
            <li>
                <h5>Python Developer<span class="duration"><i class="fa fa-calendar color"></i>May 2016 - May 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Cognitive Science Dept, Indiana University</h6>
                <p>Developed the Cognitive Science publication database website used by faculty members to modify publications and citations. 
                Implemented RESTful APIs to represent collaborations between the faculty, students, and alumni of Indiana University. Worked on Python, Pyramid and SQLAlchemy</p>
            </li>
            <li>
                <h5>Associate Instructor<span class="duration"><i class="fa fa-calendar color"></i>Aug 2016 - Dec 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> School of Informatics &amp; Computing, Indiana University</h6>
                <p>Teaching Assistant for I210 - Informatics Infrastructures I , an undergrad level python programming course.</p>
            </li>
            <li>
                <h5>Programmer Analyst<span class="duration"><i class="fa fa-calendar color"></i>Sep 2013 - May 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> Cognizant Technology Solutions</h6>
                <p>Developed and maintained a website for Xerox Business Services in the health-care domain with a total team size of 45.
                 Won “SPOTLIGHT” award for remarkable contribution in the project. Worked on Core Java and JSF framework.</p>
            </li>
            <li>
                <h5>Intern<span class="duration"><i class="fa fa-calendar color"></i>Dec 2011 - Jan 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span> Electronics Corporation of India Ltd (ECIL)</h6>
                <p>Project On SCADA Systems.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>M.S in Computer Science<span class="duration"><i class="fa fa-calendar color"></i> Aug 2015 - May 2017</span></h5>
                <h6><span class="fa fa-book"></span> Indiana University, Bloomington</h6>
                <p>CGPA: 3.53 (on a scale of 4) <br> Courses: Object Oriented Software Design, Intro to Algorithms, Music Audio Processing, Intro to Statistics, Machine Learning, Data Mining, 
                Elements of Artificial Intelligence, Advanced Operating Systems, Database Design, Search</p>
            </li>
            <li>
                <h5>B.E in Computer Science <span class="duration"><i class="fa fa-calendar color"></i> Sep 2009 - Sep 2013</span></h5>
                <h6><span class="fa fa-book"></span> Birla Institute of Technology, Mesra</h6>
                <p>CGPA: 3.3 (converted to scale of 4)</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Extra Curricular Activities</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Head of Viola<span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2012</span></h5>
                <h6><span class="fa fa-trophy"></span> Annual cutural fest of BIT.</h6>
                <p>Organized several cultural events, battle of bands and live performance by noted bands.</p>
            </li>
            <li>
                <h5>Music Secretary <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2012</span></h5>
                <h6><span class="fa fa-trophy"></span> Birla Institute of Technology</h6>
                <p>Co-ordinated all the music related events and meet ups in the institute.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Projects</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <span>City Navigation</span>
                <p>Implemented a prototype of Google Maps that gives shortest route in terms of distance, fastest route, route with fewest turns and scenic route that avoids highways given source and destination.
                 Used DFS, BFS, A* search and Iterative Depth first Search algorithms.</p>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <span>Analysis of Stackoverflow Data</span>
                <p>Analyzed Stackoverflow metadata providing insights on posts, users, skills and locations. Hosted the data constituting 34 million posts, 8 million users on PostgreSQL. 
                Provided visualizations using Google Charts and D3.js on a web app. Implemented Apriori Algorithm to find out skill sets that go well together and most commonly associated.</p>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <span>Customer Loyality Classification</span>
                <p>Data Mining Competition held by RANG Technologies. Finished in top 5\%. The project involved predicting if a customer is loyal or not given some unknown behavioral parameters.</p>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <span>Music Genre Classification</span>
                <p>Achieved an accuracy of 76\% in classifying genres of music using various spectral and temporal features. </p>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <span>Search Engine for Yelp Data Set</span>
                <p>Predict Categories of a business in Yelp Data Set using only the review text information using Information Retrieval approach. Implemented Page rank algorithm and used Lucene API for indexing.</p>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
