
<!-- Project Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
      <ul>
        {% for project in site.projects %}
          <li>
              <h4><a href="{{ project.url  }}">{{ project.title  }}</a></h4>
              <p>{{ project.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Project End -->
